/*
Colors Start
*/

$mint: #03b2a1;
$not-black: #1e1e1e;

/*
Colors End
*/

/* ANIMATIONS START */

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Zoom In #1 */
.imghover .card-img-top {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.imghover:hover .card-img-top {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* ANIMATIONS END */

/* HEADER & NAV START */

.bike-bg {
  width: 100%;
  height: 100vh;
  background-image: url('./imgs/bike1.jpg');
  background-size: cover;
  position: block;
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
  z-index: 11;
  h1 {
    color: #fff;
    font-size: 99px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
}

.dimmed {
  content: ' ';
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.nav-div {
  nav {
    margin-left: 19%;
    margin-right: 19%;
    position: absolute;
    z-index: 99;
    width: 64%;
    background-color: transparent !important;
    .active {
      background-color: #03b2a1 !important;
    }
    .navbar-brand {
      font-family: 'Rubik', sans-serif;
      font-size: 30px;
      font-weight: 700;
    }
    ul {
      display: flex;
      justify-content: space-around;
      text-align: right;
      margin-right: 0 !important;
      margin-left: auto;
      width: 70%;
      li {
        font-family: 'Rubik', sans-serif;
        text-align: right;
      }
    }
    a {
      color: #fff !important;
      font-weight: 700;
    }
  }
}

/* HEADER AND NAV END */

.landing-container {
  margin-left: 19%;
  margin-right: 19%;
}

/* ABOUT START */

.about {
  background-color: #262626;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 80px;
  padding-bottom: 80px;
  .about-card {
    width: 20%;
  }
  h2,
  h5 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
  }
  h2 {
    font-size: 50px;
  }
  .border {
    margin-top: 20px;
    width: 40px;
    margin: 0 auto;
    border-color: #03b2a1 !important;
    border-width: 2px !important;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .border2 {
    margin-top: 20px;
    width: 30px;
    margin: 0 auto;
    border-color: #03b2a1 !important;
    border-width: 1.5px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid;
  }
  .about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  i {
    color: $mint;
    font-size: 50px;
    border-radius: 100px;
    border: 3px solid $mint;
    padding: 25px;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    width: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
}

/* ABOUT END */

/* ROUTES START */

.route {
  .overflow {
    overflow: hidden;
    width: 100%;
  }
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Rubik', sans-serif;
  button {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn {
    background-color: $mint;
    border: none;
    border-radius: 0;
  }
  .btn:focus {
    outline: none !important;
  }
  .border {
    margin-top: 20px;
    width: 40px;
    margin: 0 auto;
    border-color: $not-black !important;
    border-width: 2px !important;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .route-title {
    h2 {
      font-size: 50px;
      color: $not-black !important;
      font-weight: 700 !important;
    }
  }
  padding-left: 19%;
  padding-right: 19%;
  .routes-row-1 {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    .mountain-tour {
      background-image: url(./imgs/mountain.jpg);
      height: 15vw;
      margin-right: 15px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex-grow: 2;
      flex-basis: 0;
      .layer {
        span {
          color: #fff;
          background-color: $mint;
          position: relative;
          top: 30px;
          padding: 6px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .flexo {
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          position: relative;
          top: -25px;
        }
        div {
          color: #fff;
          margin: 0 auto;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
    .off-road-tour {
      background-image: url(./imgs/offroad.jpg);
      height: 15vw;
      margin-left: 15px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex-grow: 2;
      flex-basis: 0;
      .layer {
        span {
          color: #fff;
          background-color: $mint;
          position: relative;
          top: 30px;
          padding: 6px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .flexo {
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          position: relative;
          top: -25px;
        }
        div {
          color: #fff;
          margin: 0 auto;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
  }
  .routes-row-2 {
    display: flex;
    justify-content: space-between;
    .new-york-tour {
      background-image: url(./imgs/newyork.jpg);
      height: 15vw;
      margin-right: 15px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex-grow: 2;
      flex-basis: 0;
      .layer {
        span {
          color: #fff;
          background-color: $mint;
          position: relative;
          top: 30px;
          padding: 6px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .flexo {
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          position: relative;
          top: -25px;
        }
        div {
          color: #fff;
          margin: 0 auto;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
    .golden-gate-tour {
      background-image: url(./imgs/goldengate.jpg);
      height: 15vw;
      margin-left: 15px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex-grow: 2;
      flex-basis: 0;
      .layer {
        span {
          color: #fff;
          background-color: $mint;
          position: relative;
          top: 30px;
          padding: 6px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .flexo {
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          position: relative;
          top: -25px;
        }
        div {
          color: #fff;
          margin: 0 auto;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
  }
}

.layer {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ROUTES END */

/* REPAIR START */

.repair {
  height: 45vh;
  background-image: url(./imgs/lineup.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .container {
    position: relative;
    top: 120px;
    z-index: 19;
  }
  h2 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
  }
  p {
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  button {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn {
    background-color: $mint;
    border: none;
    border-radius: 0;
  }
  .btn:focus {
    outline: none !important;
  }
}

.layer2 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -190px;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.news {
  padding-top: 80px;
  padding-bottom: 80px;
  .route-title {
    h2 {
      font-weight: 600;
      font-size: 50px;
      color: $not-black;
      font-family: 'Rubik', sans-serif;
    }
    .border {
      margin-top: 20px;
      width: 40px;
      margin: 0 auto;
      border-color: $not-black !important;
      border-width: 2px !important;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
  button {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn {
    background-color: $mint;
    border: none;
    border-radius: 0;
  }
  .btn:focus {
    outline: none !important;
  }
}

/* REPAIR END */

/* CAMPAIGN START */

.campaign {
  background-color: $mint;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 19%;
  padding-right: 19%;
  justify-content: space-around;
  h2 {
    font-size: 50px;
    color: #fff;
  }
  button {
    background-color: #fff;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    color: $mint;
  }
  .btn {
    border: none;
    border-radius: 0;
  }
  .btn:focus {
    outline: none !important;
  }
}

/* CAMPAIGN END */

/* NEWS START */

.news {
  padding-left: 19%;
  padding-right: 19%;
  .card {
    .overflow {
      overflow: hidden;
    }
    .card-title {
      color: $mint;
      font-family: 'Rubik', sans-serif;
      font-weight: 650;
    }
    .card-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }
    .text-muted {
      font-family: 'Roboto', sans-serif;
    }
    .card-tags {
      padding-bottom: 10px;
    }
    .tag {
      font-weight: 500;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      background-color: $mint;
      margin: 10px;
      padding: 3px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* NEWS END */

.btn:hover {
  background-color: $not-black;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  .nav-div nav ul {
    width: 80%;
  }
  .hero {
    h1 {
      font-size: 70px;
    }
    h4 {
      font-size: 20px;
    }
  }
  .about {
    .about-card {
      width: 100%;
      padding: 10%;
    }
    .about-info {
      flex-direction: column;
    }
  }
  .route {
    .routes-row-1 {
      flex-direction: column;
      margin-bottom: 0;
    }
    .routes-row-2 {
      flex-direction: column;
    }
    .mountain-tour,
    .off-road-tour,
    .new-york-tour,
    .golden-gate-tour {
      height: 20vw !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 40px !important;
    }
  }
  .news {
    .card-deck {
      flex-direction: column;
      .card {
        margin-bottom: 60px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .layer2 {
    top: -250px;
  }
  .navbar-nav .nav-link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 900px) {
  .campaign {
    button {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 10px;
    }
    h2 {
      font-size: 30px;
    }
  }
  .hero {
    h1 {
      font-size: 50px;
    }
    h4 {
      font-size: 15px;
    }
  }
  .route {
    .mountain-tour,
    .off-road-tour,
    .new-york-tour,
    .golden-gate-tour {
      height: 40vw !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 40px !important;
    }
  }
}
@media screen and (max-width: 438px) {
  .layer2 {
    top: -310px;
  }
}
@media screen and (max-width: 600px) {
  .repair {
    display: none;
  }
  .route {
    .mountain-tour,
    .off-road-tour,
    .new-york-tour,
    .golden-gate-tour {
      .flexo {
        div {
          font-size: 20px !important;
          margin-top: 20px !important;
        }
      }
    }
  }
  .about {
    h2 {
      font-size: 30px;
    }
  }
  .nav-div {
    nav {
      width: 100%;
      margin: 0;
      ul {
        background-color: #323232;
      }
    }
  }
}
@media screen and (max-width: 289px) {
  .dimmed {
    height: 102%;
  }
}
